.App {
  text-align: center;
  padding: 30px;
}

marquee {
  margin-top: 40px;
  padding: 20px;
  width: 45%;
  height: 400px;
  font-size: 18px;
  line-height: 2.5;
  font-weight: 600;
  letter-spacing: 2.5px;
  border: 1px solid #ffe81f;
  color: #ffe81f;
}

.movie-header {
  text-align: center;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 2px;
}
